*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

div a{
    text-decoration: none;
}

.flex{
    display: flex;
}

#flex{
    display: flex;
}
/************ MAIN  **********/
#container-main{
    height: 90vh;
    background-color: black;
    position: relative;
}

.container-position{
    text-align: right;
    padding-top: 5px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.button{
    display: inline-block;
    padding: 5px;
    background-color: grey;
    border-radius: 5px;
}

.button a, .button i{
    font-size: 18px;
}

.box-image{
    height: 200px;
    width: 300px;
    position: relative;
    background-image: url(https://picsum.photos/id/237/200/300);
    background-size: cover;
    background-position: center;
}


/*********** FOOTER  **********/
#container-footer{
    height: 10vh;
    background-color: #222222;
}